@import url(http://fonts.googleapis.com/css?family=Inconsolata);

html {
    min-height: 100%;
}

body {
    color: #000000;
    background: #eeeeee;
    font-family: "Arial", "Helvetica", sans-serif;

    font-size: 1em;
    line-height: 1.5em;
    min-height: 100%;

    background-attachment: fixed;
}

pre, code, tt, samp, kbd {
    font-family: Inconsolata, monospace;
    font-size: 1em;
}

.hidden {
    display: none;
}

a:link, a:hover, a:focus, a:active {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

#bar {
    position: relative;
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 30px;
}

#bar #gearbox {
    float: right;
    padding: 10px;
    cursor: pointer;
    background: #666;
    border-radius: 0 0 0 20px;
    z-index: 2000;
}

#bar #gear {
    display: inline-block;
}

#bar a:link, #bar a:hover, #bar a:visited, #bar a:focus, #bar a:active {
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
}

#bar #gearbox:hover a, #bar #gear.spinning a {
    opacity: 0.8;
}

#signin-services p.account {
    margin: 0;
    line-height: 32px;
}

#signin-services .account .label {
    display: inline-block;
    width: 5em;
}

#signin-services .detach,
#signin-services .attached .attach-link {
    display: none;
}

#signin-services .attached .detach {
    display: inline;
}

#signin-services .detach .spinning {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: white url(../img/loadinfo.net.gif);
}

#signin-services .detach .spinning span {
    display: none;
}

#page-color .color-swatch {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border: 2px solid #666;
    cursor: pointer;
}

#page-color .color-swatch-selected {
    border-color: white;
}

#page-color .color-swatch-orange, body {
    background-color: #B73D12;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eb6333), to(#B73D12));
    background-image: -moz-linear-gradient(left, right, from(#eb6333), to(#B73D12));
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#eb6333, endColorstr=#B73D12, GradientType=0);
}

#page-color .color-swatch-blue, body.page-color-blue {
    background-color: #69b1cc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#69b1cc), to(#357f9a));
    background-image: -moz-linear-gradient(left, right, from(#69b1cc), to(#357f9a));
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#69b1cc, endColorstr=#357f9a, GradientType=0);
}

#page-color .color-swatch-green, body.page-color-green {
    background-color: #b1cc69;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b1cc69), to(#7f9a35));
    background-image: -moz-linear-gradient(left, right, from(#b1cc69), to(#7f9a35));
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#b1cc69, endColorstr=#7f9a35, GradientType=0);
}

#page-color .color-swatch-beige, body.page-color-beige {
    background-color: #ECE1BD;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ECE1BD), to(#e1cf95));
    background-image: -moz-linear-gradient(left, right, from(#ECE1BD), to(#e1cf95));
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#ECE1BD, endColorstr=#e1cf95, GradientType=0);
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    right: 50px;
    bottom: 0;
    /*overflow: hidden;*/
}

#settings {
    background: #666;
    color: #eee;
    height: 0;
    overflow: hidden;
    z-index: 9002;
}

#settings a:link, #settings a:hover, #settings a:visited, #settings a:active, #settings a:focus {
    color: #ccf;
}

#settings-inner {
    display: block;
    position: relative;
    width: 700px;
    margin: 16px auto;
}

#settings-inner .column {
    float: left;
    width: 350px;
    margin: 0;
}

#settings #keyboard-notice {
    position: absolute;
    font-size: 0.8em;
    bottom: 0;
    left: 350px;
}

#settings img {
    vertical-align: middle;
}

#navigate {
    text-align: center;
    margin: 60px auto;
}

#navigate span {
    display: inline-block;
    padding: 1ex 1em;
    border-radius: 20px;
    -moz-border-radius: 20px;
    background: white;
}

#navigate span#navigate-loading {
    display: none;
}

#new-updates, #keyboard-shortcuts {
    position: fixed;
    width: 100%;
    height: 0;
    text-align: center;
    font-size: 0.8em;
    z-index: 9001;
}

#new-updates {
    top: 0;
}

#new-updates .inner, #keyboard-shortcuts .inner {
    display: inline-block;
    background: #fffb95;
    padding: 0.5ex 1em;
    border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

#new-updates a:link, #new-updates a:hover, #new-updates a:visited, #new-updates a:active, #new-updates a:focus {
    color: #00e;
}

#new-updates,
#new-updates span.items, #new-updates span.replies, #new-updates span.and,
#new-updates .loading {
    display: none;
}

#keyboard-shortcuts {
    bottom: 0;
    line-height: 1.2em;
    text-align: center;
}

#keyboard-shortcuts .inner {
    position: absolute;
    bottom: 0;
    border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    text-align: left;
}

#keyboard-shortcuts code {
    white-space: pre-wrap;
}

#keyboard-shortcuts h3 {
    font-size: 1em;
    text-align: center;
    margin-bottom: 1ex;
}

.pkg:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
}
.pkg { display: inline-block; }

#stream {
    width: 405px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: auto;
    padding: 5px;
}

.item {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
}
.item.col-1 {
    float: left;
    clear: both;
}
.item.col-2 {
    float: right;
}
.item.width-2 {
    width: 405px;
}
.item.link, .item.image {
    background-size: cover;
    background-position: center;
}

.item.status .item-content {
    background: white;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 5px;
}
.item.link .item-content, .item.image .item-content {
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    top: auto;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
    font-size: 12px;
    line-height: 12px;
    min-height: 24px;
}
.item.blank {
    background: rgba(0, 0, 0, 0.5);
}

.item-avatar {
    float: left;
    margin: 10px;
}
.item-tweet {
    margin-left: 68px;
    margin-right: 10px;
    margin-top: 10px;
}
.item-tweet-author {
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
}
.item-tweet-body {
    font-size: 14px;
    line-height: 14px;
    margin-top: 10px;
}
.item-tweet-body img {
    display: none;
}

div.reply {
    margin: 10px 45px 10px 105px;
}

